html
  head
    title= title
  body
    h1= message
    div
      p line
      p= line
    ul
      each item in array
        li= item
    p -------------------------------------------------
    ul
      each item in data
        li
          p= item.title
          div= item.body
          